<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsicarelli.homehunt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeHunt">


        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HomeHunt.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.resources.PhotoGalleryActivity"
            android:theme="@style/Theme.HomeHunt.NoActionBar" />

        <activity
            android:name=".presentation.resources.VideoPlayerActivity"
            android:theme="@style/Theme.HomeHunt.NoActionBar" />


    </application>

</manifest>